@import "variables";

* {
  font-family: 'Roboto', sans-serif;
  color: $black;
}

html, body, #root {
  background-color: $white2;
  font-size: 18px;
}

.page {
  background-color: $white2;
  width: fit-content;
  margin: auto;
  padding: 12px;

  .heading {
    margin: 18px auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    text-align: center;

    h1, h2, h3 {
      margin: 0;
    }

    h3 {
      padding-top: 6px;
      font-size: 14px;
      color: $grey;
    }

    img {
      margin: 0 1em;
      height: 70px;
      width: 100px;
    }
  }
  .actionIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .action {
      padding: 6px;
      display: flex;
      flex-direction: row;
      font-size: 14px;
      cursor: pointer;
      i, span {
        color: $grey;
        align-self: center;
      }

      &:hover {
        i, span {
          color: $blue3
        }
      }
      .actionIcon {
        font-size: 18px;
        padding-right: 6px;
        padding-left: 6px;
      }
    }
  }

  .sprintPlanning {
    margin: auto;
    width: fit-content;

    input {
      margin: 0 3px;
      border: solid 1px #999999;
      padding: 3px;
      width: 24px;
      height: 16px;
      border-radius: 5px;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }

    .recap {
      margin: 1em;
      border: 1px solid $blue3;
      border-radius: 5px;
      padding: 1em;
      height: fit-content;

      background-color: $white1;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
    }
  }

}

@media only screen and (max-width: 640px) {
  .heading {
    img {
      height: 35px !important;
      width: 50px !important;
    }
  }
  .tableHeader {
    display: none;
  }
  .tableContent {
    display: flex;
    flex-direction: column !important;
  }
}