@import "variables";

* {
  font-family: 'Roboto', sans-serif;
  color: $black;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: $white;
  font-size: 18px;
}

.page {

  .heading {
    margin: 2em auto;
    width: fit-content;

    display: flex;
    flex-direction: row;

    text-align: center;

    h1, h2 {
      margin: 0;
    }

    img {
      margin: 0 1em;
      width: 100px;
    }
  }

  .sprintPlanning{
    margin: auto;
    width: fit-content;

    input {
      margin: 0 3px;
      border: solid 1px #999999;
      padding: 3px;
      width: 20px;
      border-radius: 5px;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }

    .column {
      display: inline-block;
      width: 120px;
      padding: 10px;
      height: 20px;
      text-align-last: center;
    }

    .hoursPlanning {
      margin: 1em;
      border-radius: 5px;
      padding: 1em;
      height: fit-content;

      background-color: #ffffff;
      box-shadow: 0 1px 10px #999999;

      h3 {

        margin: 0 0 1em 0;
        border-bottom: solid 3px $blue3;
        padding-bottom: 5px;
        color: $blue3;
      }

      .tableHeader {
        .column {
          text-align: center;
          font-size: 14px;
          font-weight: bold;
        }
      }

      .tableContent {
        display: flex;
        flex-direction: row;
        .team {
          .teammate {
            .column {
              border-left: solid 1px #999999 ;
            }
            .column:first-child {
              border-left: 0;
              text-align-last: left;
            }
          }

          .teammate:hover {
            background-color: $blue1;
          }
        }
        .emergency {
          display: flex;
          border-left: solid 1px #999999;
          padding: 0;
          height: 120px;
          align-items: center;
          justify-content: center;
        }
      }
      .total {
        width: fit-content;
        margin: auto;

        p {
          font-weight: bold;
        }
      }
    }

    .hoursPlanning:hover {
      box-shadow: 0 1px 10px $blue4;
    }

    .recap {
      margin: 1em;
      border-radius: 5px;
      padding: 1em;
      height: fit-content;

      background-color: #ffffff;
      box-shadow: 0 1px 10px #999999;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
    }
  }

}

@media only screen and (max-width: 640px) {
  .heading {
    img {
      height: 50px;
    }
  }
  .tableHeader {
    display: none;
  }
  .tableContent {
    display: flex;
    flex-direction: column !important;

    .teammate {
      display: flex;
      flex-direction: column;
    }
  }
}