$background-color: #7dbfff;

$white1: #ffffff;
$white2: #f5f5f5;
$grey: #999999;
$black: #444857;


$yellow1: #FFEE58;
$yellow2: #FFCA28;

$orange1: #FFA726;
$orange2: #FF7043;




$blue1: #E1F5FE;
$blue2: #4FC3F7;
$blue3: #0288D1;
$blue4: #01579B;
$blue5: #303F9F;